<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Standup Generator</title>
  <link rel="stylesheet" href="assets/styles/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/StudioKonKon/bootstrap-konkon@1.3.0-beta/dist/css/studio-konkon.min.css">
</head>

<body class="bg-light">
  <header>
    <h1>Standup Generator</h1>
  </header>
  <div
    class="flex-wrap d-flex flex-column justify-content-center align-items-center w-100 h-100 p-0 py-md-5"
    id="app">
    <router-view></router-view>
  </div>

  <script type="text/x-template" id="view-home">
      <div class="view-container">
         <div class="d-flex flex-column flex-grow-1 container-fluid container-md bg-white shadow-sm rounded-3 p-0"
            style="max-height:100%;">
            <div class="border-bottom py-3 px-4">
               <h1 class="fs-3 mb-0">
                  <i class="zmdi zmdi-view-list-alt pe-3"></i>
                  <span>Yesterday Task Lists</span>
               </h1>
            </div>
            <div class="flex-grow-1 overflow-auto">
               <div class="list-group mx-0">
                  <label v-for="todo in todos" :key="todo.id" class="list-group-item d-flex flex-row align-items-center gap-3"
                     :class="{ 'todo-complete': todo.completed }">
                     <div class="position-absolute start-0 border border-3 rounded-3 border-primary h-100"
                        v-if="!todo.completed"></div>
                     <input class="form-check-input flex-shrink-0 ms-1" type="checkbox" :value="todo" v-model="selected" />
                     <div class="flex-fill user-select-none overflow-hidden">
                        <div class="fw-bold">{{ todo.title }}</div>
                        <small class="d-block text-muted text-truncate">{{ todo.body }}</small>
                     </div>
                     <router-link class="flex-shrink-0 fs-4 pe-2 link-secondary" href="javascript:void(0);"
                        :to="{ name: 'edit-todo', params: { todo_id: todo.id } }">
                        <i class="zmdi zmdi-edit"></i>
                     </router-link>
                  </label>
               </div>
            </div>
            <div class="border-top p-3 d-flex flex-row align-items-center gap-2">
               <button class="btn btn-danger" :disabled="btnsDisabled" @click="deleteTodos"><i
                     class="zmdi zmdi-delete"></i></button>
               <div class="flex-fill"></div>
               <button class="btn btn-outline-success" :disabled="btnsDisabled" @click="completeTodos(true)"><i
                     class="zmdi zmdi-check"></i></button>
               <button class="btn btn-outline-danger" :disabled="btnsDisabled" @click="completeTodos(false)"><i
                     class="zmdi zmdi-close"></i></button>
               <div class="flex-fill"></div>
               <router-link class="btn btn-primary" href="javascript:void(0);" :to="{ name: 'new-todo' }">Add
                  Task</router-link>
            </div>
         </div>
         <div class="d-flex flex-column flex-grow-1 container-fluid container-md bg-white shadow-sm rounded-3 p-0"
            style="max-height:100%;">
            <div class="border-bottom py-3 px-4">
               <h1 class="fs-3 mb-0">
                  <i class="zmdi zmdi-view-list-alt pe-3"></i>
                  <span>Today Task Lists</span>
               </h1>
            </div>
            <div class="flex-grow-1 overflow-auto">
               <div class="list-group mx-0">
                  <label v-for="todo in todosToday" :key="todo.id" class="list-group-item d-flex flex-row align-items-center gap-3"
                     :class="{ 'todo-complete': todo.completed }">
                     <div class="position-absolute start-0 border border-3 rounded-3 border-primary h-100"
                        v-if="!todo.completed"></div>
                     <input class="form-check-input flex-shrink-0 ms-1" type="checkbox" :value="todo" v-model="selectedToday" />
                     <div class="flex-fill user-select-none overflow-hidden">
                        <div class="fw-bold">{{ todo.title }}</div>
                        <small class="d-block text-muted text-truncate">{{ todo.body }}</small>
                     </div>
                     <router-link class="flex-shrink-0 fs-4 pe-2 link-secondary" href="javascript:void(0);"
                        :to="{ name: 'edit-todo', params: { todo_id: todo.id }, query: { type: 'today' } }">
                        <i class="zmdi zmdi-edit"></i>
                     </router-link>
                  </label>
               </div>
            </div>
            <div class="border-top p-3 d-flex flex-row align-items-center gap-2">
               <button class="btn btn-danger" :disabled="btnsDisabledToday" @click="deleteTodosToday"><i
                     class="zmdi zmdi-delete"></i></button>
               <div class="flex-fill"></div>
               <button class="btn btn-outline-success" :disabled="btnsDisabledToday" @click="completeTodosToday(true)"><i
                     class="zmdi zmdi-check"></i></button>
               <button class="btn btn-outline-danger" :disabled="btnsDisabledToday" @click="completeTodosToday(false)"><i
                     class="zmdi zmdi-close"></i></button>
               <div class="flex-fill"></div>
               <router-link class="btn btn-primary" href="javascript:void(0);" :to="{ name: 'new-todo' }">Add
                  Task</router-link>
            </div>
         </div>
      </div>
  </script>

  <script type="text/x-template" id="view-edit-todo">
     <form class="d-flex flex-column flex-grow-1 container-fluid container-md bg-white shadow-sm rounded-3 p-0"
           style="max-height:100%;"
            @submit="updateTodo">
        <div class="border-bottom py-3 px-4">
           <h1 class="fs-3 mb-0">
              <i class="zmdi zmdi-view-list-alt pe-3"></i>
              <span>Edit Task</span>
           </h1>
        </div>
        <div class="d-flex flex-column flex-grow-1 overflow-auto p-3">
           <label for="todoInputTitleEdit" class="form-label mb-1 fw-bold"><small>Title</small></label>
           <input type="text"
                  class="form-control"
                  id="todoInputTitleEdit"
                  placeholder="Enter Title Here"
                  v-model="todo.title" />
           <label for="todoInputBodyEdit"
                  class="form-label mb-1 pt-3 fw-bold"><small>Notes</small></label>
           <textarea class="flex-fill form-control mb-3"
                     id="todoInputBodyEdit"
                     v-model="todo.body"></textarea>
        </div>
        <div class="border-top p-3 d-flex align-items-center justify-content-end gap-2">
           <div class="form-check flex-fill mb-0">
              <input class="form-check-input"
                     type="checkbox"
                     id="todoInputCompletedEdit"
                     :disabled="btnsDisabled"
                     v-model="todo.completed">
              <label class="form-check-label"
                     for="todoInputCompletedEdit">Completed</label>
           </div>
           <router-link class="btn link-primary" to="/">Cancel</router-link>
           <button type="submit"
                   :disabled="btnsDisabled"
                   class="btn btn-primary">Save</button>
        </div>
     </form>
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.3/vue-router.min.js"
    referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"
    referrerpolicy="no-referrer"></script>
  <script src="assets/js/script.js"></script>
</body>

</html>